name: Ruby

on:
  push:
    tags-ignore:
      - 'v*'
  pull_request:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '3.1', '3.2', '3.3', '3.4' ]

    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Test
      run: |
        bundle install --no-color
        bundle exec rspec --no-color